# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are Summarized:

**Objectives:**

- list popular data science language
- open source enviroments
- tables in jupyter notebook
- font size in jupyter notebook

some of the popular and common languages that Data Scientists use are:
1. Python
2. R
3. sql and Java

some of the commonly used libraries used by data Scientists includes:
1. Numpy
2. Pandas
3. Matplotlib

|Data Science Tools|
|------------------|
|R-studio          |
|jupyter notebook  |
|spyder            |
|jupyter Lab       |

### Below are some examples of arithmatic expression

In [1]:
(3*4)+5

17

In [2]:
#THIs will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author's Name:
Hossam Ragab